<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
<div class="container">
  <app-navigator></app-navigator>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div> -->
<div class="wrapper ">
    <!-- <div class="container"> -->
    <app-sidebar></app-sidebar>
    <!-- </div> -->
    <router-outlet></router-outlet>
    <!-- <div class="main-panel">
          <app-navigator></app-navigator>
      <div class="panel-header panel-header-sm">
       </div>
       <router-outlet></router-outlet>
        <footer class="main-panel footer">
          <div class="container-fluid">
              <nav>
                  <ul>
                      <li>
                          <a>
                              Aurora
                          </a>
                      </li>
                      <li>
                          <a>
                              About Us
                          </a>
                      </li>
                  </ul>
              </nav>
              <div class="copyright">
                  &copy;
                  <script>
                      document.write(new Date().getFullYear())
                  </script>, Designed by
                  <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
                  <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
              </div>
          </div>
      </footer>
    </div> -->
</div>